{% extends 'base.html' %}

{% block content %}
    {% from "_macro.html" import mostra_campos %}

    <form name="Login" id="frmLogin" method="POST">

  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
             {{ mostra_campos(frm_equipamento.nome, class='form-control') }}
            <p class="help-block text-danger"></p>

        </div>
    </div>

        <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
             {{ mostra_campos(frm_equipamento.codigo_tipo_equipamento, class='form-control') }}
            <p class="help-block text-danger"></p>

        </div>
    </div>


     <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
              {{ mostra_campos(frm_equipamento.inativo) }}
            <p class="help-block text-danger"></p>

        </div>
    </div>
    <div id="sucesso"></div>
    <div class="form-group col-xs-12">
        <button type="submit" class="btn-default">Salvar</button>
    </div>

    </form>



{% endblock %}